AtoZRegexSwitch.json
[{"id":"e7cda781.d8e168","type":"switch","z":"103d799e.0fa0b6","name":"A-Z regex","property":"payload.user.acronym","propertyType":"msg","rules":[{"t":"regex","v":"^a|A","vt":"str","case":false},{"t":"regex","v":"^b|B","vt":"str","case":false},{"t":"regex","v":"^c|C","vt":"str","case":false},{"t":"regex","v":"^d|D","vt":"str","case":false},{"t":"regex","v":"^e|E","vt":"str","case":false},{"t":"regex","v":"^f|F","vt":"str","case":false},{"t":"regex","v":"^g|G","vt":"str","case":false},{"t":"regex","v":"^h|H","vt":"str","case":false},{"t":"regex","v":"^i|I","vt":"str","case":false},{"t":"regex","v":"^j|J","vt":"str","case":false},{"t":"regex","v":"^k|K","vt":"str","case":false},{"t":"regex","v":"^l|L","vt":"str","case":false},{"t":"regex","v":"^m|M","vt":"str","case":false},{"t":"regex","v":"^n|N","vt":"str","case":false},{"t":"regex","v":"^o|O","vt":"str","case":false},{"t":"regex","v":"^p|P","vt":"str","case":false},{"t":"regex","v":"^q|Q","vt":"str","case":false},{"t":"regex","v":"^r|R","vt":"str","case":false},{"t":"regex","v":"^s|S","vt":"str","case":false},{"t":"regex","v":"^t|T","vt":"str","case":false},{"t":"regex","v":"^u|U","vt":"str","case":false},{"t":"regex","v":"^v|V","vt":"str","case":false},{"t":"regex","v":"^w|W","vt":"str","case":false},{"t":"regex","v":"^x|X","vt":"str","case":false},{"t":"regex","v":"^y|Y","vt":"str","case":false},{"t":"regex","v":"^z|Z","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":27,"x":1640,"y":580,"wires":[["c9f05e84.6adcf"],["ea710f08.65a59"],["619b72ce.ec777c"],["eccd77d9.accfa8"],["82944493.71e3c8"],["8295fe00.2dbc8"],["514b84a.296fd7c"],["97ea15df.c70eb8"],["b669ff3f.57111"],["ce2caa87.26fab8"],["e7c3fcf7.e2685"],["6a958352.b25a0c"],["8efdd9f9.dfd158"],["ec483062.9e3ef"],["9e02b718.e07398"],["430faa4b.8515c4"],["51322f72.f270c"],["3759a4a6.e99cfc"],["cb22cbdf.ed2fe8"],["79ad2729.a05a08"],["5d53d7c9.ba88e8"],["b07385fc.208138"],["f6a9bc3.325214"],["1c3dde26.200ab2"],["f277ec9c.ccd68"],["fcd4119b.b674e"],["df4a2eab.65efa"]]},{"id":"8295fe00.2dbc8","type":"link out","z":"103d799e.0fa0b6","name":"F","links":[],"x":1875,"y":260,"wires":[]},{"id":"82944493.71e3c8","type":"link out","z":"103d799e.0fa0b6","name":"E","links":[],"x":1875,"y":220,"wires":[]},{"id":"eccd77d9.accfa8","type":"link out","z":"103d799e.0fa0b6","name":"D","links":[],"x":1875,"y":180,"wires":[]},{"id":"ea710f08.65a59","type":"link out","z":"103d799e.0fa0b6","name":"B","links":[],"x":1875,"y":100,"wires":[]},{"id":"619b72ce.ec777c","type":"link out","z":"103d799e.0fa0b6","name":"C","links":[],"x":1875,"y":140,"wires":[]},{"id":"c9f05e84.6adcf","type":"link out","z":"103d799e.0fa0b6","name":"A","links":[],"x":1875,"y":60,"wires":[]},{"id":"6a958352.b25a0c","type":"link out","z":"103d799e.0fa0b6","name":"L","links":[],"x":1875,"y":500,"wires":[]},{"id":"e7c3fcf7.e2685","type":"link out","z":"103d799e.0fa0b6","name":"K","links":[],"x":1875,"y":460,"wires":[]},{"id":"ce2caa87.26fab8","type":"link out","z":"103d799e.0fa0b6","name":"J","links":[],"x":1875,"y":420,"wires":[]},{"id":"b669ff3f.57111","type":"link out","z":"103d799e.0fa0b6","name":"I","links":[],"x":1875,"y":380,"wires":[]},{"id":"97ea15df.c70eb8","type":"link out","z":"103d799e.0fa0b6","name":"H","links":[],"x":1875,"y":340,"wires":[]},{"id":"514b84a.296fd7c","type":"link out","z":"103d799e.0fa0b6","name":"G","links":[],"x":1875,"y":300,"wires":[]},{"id":"df4a2eab.65efa","type":"link out","z":"103d799e.0fa0b6","name":"otherwise","links":[],"x":1875,"y":1100,"wires":[]},{"id":"3759a4a6.e99cfc","type":"link out","z":"103d799e.0fa0b6","name":"R","links":[],"x":1875,"y":740,"wires":[]},{"id":"51322f72.f270c","type":"link out","z":"103d799e.0fa0b6","name":"Q","links":[],"x":1875,"y":700,"wires":[]},{"id":"430faa4b.8515c4","type":"link out","z":"103d799e.0fa0b6","name":"P","links":[],"x":1875,"y":660,"wires":[]},{"id":"9e02b718.e07398","type":"link out","z":"103d799e.0fa0b6","name":"O","links":[],"x":1875,"y":620,"wires":[]},{"id":"ec483062.9e3ef","type":"link out","z":"103d799e.0fa0b6","name":"N","links":[],"x":1875,"y":580,"wires":[]},{"id":"8efdd9f9.dfd158","type":"link out","z":"103d799e.0fa0b6","name":"M","links":[],"x":1875,"y":540,"wires":[]},{"id":"b07385fc.208138","type":"link out","z":"103d799e.0fa0b6","name":"V","links":[],"x":1875,"y":900,"wires":[]},{"id":"5d53d7c9.ba88e8","type":"link out","z":"103d799e.0fa0b6","name":"U","links":[],"x":1875,"y":860,"wires":[]},{"id":"79ad2729.a05a08","type":"link out","z":"103d799e.0fa0b6","name":"T","links":[],"x":1875,"y":820,"wires":[]},{"id":"cb22cbdf.ed2fe8","type":"link out","z":"103d799e.0fa0b6","name":"S","links":[],"x":1875,"y":780,"wires":[]},{"id":"fcd4119b.b674e","type":"link out","z":"103d799e.0fa0b6","name":"Z","links":[],"x":1875,"y":1060,"wires":[]},{"id":"f277ec9c.ccd68","type":"link out","z":"103d799e.0fa0b6","name":"Y","links":[],"x":1875,"y":1020,"wires":[]},{"id":"1c3dde26.200ab2","type":"link out","z":"103d799e.0fa0b6","name":"X","links":[],"x":1875,"y":980,"wires":[]},{"id":"f6a9bc3.325214","type":"link out","z":"103d799e.0fa0b6","name":"W","links":[],"x":1875,"y":940,"wires":[]}]
